@font-face {
  font-family: "Cattedrale";
  src: url("./fonts/Cattedrale.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;

  --radius: 18vw;
  --originDegree: -60deg;
  --deltaDegree: -30deg;

  background-image: url("./images/pergament.jpg");
  background-size: 250% 250%;

  font-family: cursive;
}

#generalInfo {
  display: flex;
  align-items: center;
}

#sexChanger {
  aspect-ratio: 1/1;
  width: 3vw;

  margin-left: 1vw;
  font-size: 2vw;
  background-color: transparent;
  border-color: rgb(233, 219, 19);
  border-width: 0.2vw;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  filter: hue-rotate(0deg) saturate(2) brightness(1.5);

  text-align: center;
}

#CharacteristicsAndImage {
  aspect-ratio: 1/1;
  width: 45vw;
  justify-self: right;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -7vw;
}
#portrait {
  aspect-ratio: 1/1;
  width: 35vw;
  background: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 3rem black);
  justify-self: flex-end;
  align-items: center;
  position: absolute;
  border-radius: 50%;
}

#center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#strengthDiv,
#dexterityDiv,
#constitutionDiv,
#intelligenceDiv,
#wisdomDiv,
#charismaDiv,
#ACShield,
#initiative,
#speed,
#profBonus {
  aspect-ratio: 1/1;
  position: absolute;
  width: 8vw;
}

#strengthDiv {
  transform: rotate(var(--originDegree)) translate(var(--radius))
    rotate(calc(var(--originDegree) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#dexterityDiv {
  transform: rotate(calc(var(--originDegree) + var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}

#constitutionDiv {
  transform: rotate(calc(var(--originDegree) + 2 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 2 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#intelligenceDiv {
  transform: rotate(calc(var(--originDegree) + 3 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 3 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#wisdomDiv {
  transform: rotate(calc(var(--originDegree) + 4 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 4 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#charismaDiv {
  transform: rotate(calc(var(--originDegree) + 5 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 5 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}

.characteristicName {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #b37f18 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 78%;
  font-size: 0.8vw;

  position: absolute;
  left: 0;
  right: 0;
}
#constitutionDiv span[class="characteristicName"] {
  transform: scaleX(0.75);
}

#strVal,
#dexVal,
#conVal,
#intVal,
#wisVal,
#chaVal {
  aspect-ratio: 1/1;
  width: 4vw;

  font-size: 2.5vw;
  text-align: center;
  font-family: Cattedrale;

  position: absolute;
  margin-top: 0;
  display: block;
  content: "";
  top: 1.6vw;
  left: 2.25vw;

  background-color: transparent;
  border: 0;
  outline: 0;
}

#strMod,
#dexMod,
#conMod,
#intMod,
#wisMod,
#chaMod {
  aspect-ratio: 1/1;
  width: 1vw;
  position: absolute;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  font-family: Cattedrale;
  display: block;
  content: "";
  top: 0.7vw;
  left: 5.85vw;
}

#ACShield {
  transform: rotate(90deg) translate(var(--radius)) rotate(-90deg);
  width: 12vw;
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/shieldAC.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

#AC {
  position: absolute;
  font-size: 4vw;
  text-align: center;

  aspect-ratio: 1/1;
  width: 5vw;

  font-family: Cattedrale;
  background-color: transparent;
  border: 0;
  outline: 0;
}
#AC::-webkit-outer-spin-button,
#AC::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
#AC[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#initiative {
  transform: rotate(120deg) translate(calc(var(--radius) + 1vw)) rotate(-120deg);
  aspect-ratio: 1/1;
  width: 8vw;
  background: no-repeat;
  background-size: contain;
  /*border: red solid 0.1vw;*/
  border-radius: 0;
  background-color: transparent;
  background-image: url("./images/initiative.png");
}
#Speed,
#Initiative {
  width: 4vw;
  font-size: 3vw;
  text-align: center;
  font-family: Cattedrale;

  position: absolute;
  margin-top: 0;
  display: block;
  content: "";
  top: 2vw;
  left: 2vw;

  cursor: default;
}
#Speed {
  background-color: transparent;
  border: 0;
  outline: 0;
}
#speed {
  transform: rotate(60deg) translate(calc(var(--radius) + 1vw)) rotate(-60deg);
  aspect-ratio: 1/1;
  width: 8vw;
  background: no-repeat;
  background-size: contain;
  /*border: blue solid 0.1vw;*/
  border-radius: 0;
  background-color: transparent;
  background-image: url("./images/speed.png");
}
#profBonus {
  transform: rotate(-135deg) translate(calc(var(--radius) + 7vw)) rotate(135deg);
  width: 8vw;
  background: no-repeat;
  background-size: contain;
  border-radius: 0;
  /*border: darkblue solid 0.1vw;*/
  background-color: transparent;
  background-image: url("./images/profBonus.png");
  text-align: center;
  display: flex;
  justify-content: center;
}
#profBonusName {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #b37f18 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 73%;
  font-size: 1vw;
  transform: scaleX(1.5);

  position: absolute;
  left: 0;
  right: 0;
}
#PB {
  aspect-ratio: 1/1;
  width: 3.5vw;

  font-size: 3vw;
  text-align: center;
  font-family: Cattedrale;

  position: absolute;
  margin-top: 0;
  display: block;
  content: "";
  top: 1.6vw;
  left: 2.25vw;

  cursor: default;
}

#characterName {
  font-size: 2vw;
  font-family: cursive;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  text-align: center;

  border-width: 1px;
  border-color: yellow;
  background-color: rgba(155, 137, 44, 0.526);
}

#characterClass {
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 6vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  color: transparent;
  border: 0;
}
#characterClass option {
  color: black;
  font-size: 1vw;
  font-family: cursive;
  font-weight: bold;
}

#characterRace {
  font-size: 1.7vw;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: none;
  font-family: cursive;
}
#characterRace option {
  background-color: transparent;
}

#levelDiv {
  font-size: 1.5vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
#level {
  border-color: yellow;
  background-color: rgba(155, 137, 44, 0.526);
  font-size: 1.3vw;
  height: 1vw;
  margin-left: 1vw;
  width: 2.5vw;
  margin-top: 0.3vw;
}
#levelsInformationButton {
  /* border: 1px; */
  border-color: rgb(233, 219, 19);
  outline: 0;
  background-color: transparent;
  margin-left: 1vw;
  margin-top: 0.5vw;

  cursor: pointer;

  aspect-ratio: 1/1;
  width: 1.5vw;
  background-image: url("./images/arrowUp.png");
  background-size: contain;
  border-radius: 50%;

  filter: hue-rotate(0deg) saturate(2) brightness(1.5);
}

#skillsBackground {
  aspect-ratio: 1/2;
  width: 20vw;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./images/skillsFrame.png");
}
#skillsBackground h1 {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #b37f18 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;

  width: 5vw;

  position: absolute;
  margin-left: 7.5vw;
  margin-top: 0.3vw;
  font-size: 1vw;
}

#skills {
  display: flex;
  flex-direction: column;
  width: 13vw;

  position: relative;
  left: 2.5vw;
  top: 2vw;
}

#skills h2 {
  font-size: 0.8vw;
  font-weight: bold;
  text-align: center;

  margin-bottom: 0;
}

#skills input {
  display: none;
}
#skills label {
  aspect-ratio: 1/1;
  width: 1vw;
  margin-left: 1vw;
  display: inline-block;
  content: "";
  background-image: url("./images/roundFrame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  outline: none;
  border: 0;
}
#skills input:checked + label {
  background-image: url("./images/selectedRoundFrameRed.png");
}

.skill {
  /* aspect-ratio: 10/1; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 1vw;
  align-items: center;
}
.skillName {
  font-size: 0.8vw;
  font-weight: bold;
}
.skillVals {
  width: 2vw;

  text-align: center;
  font-family: Cattedrale;
  font-size: 0.8vw;
  font-weight: bold;
  background-image: url("./images/skillVal.png");
  background-size: 2vw 1.2vw;
  background-repeat: no-repeat;

  cursor: default;
}

#bottomLeftData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#HPDeathDiv {
  background-image: url("./images/HPDeath.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 40vw;
  height: 28vw;
}

.healthText {
  background: linear-gradient(to bottom, #865c00, #ffe494, #8f5f00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;

  position: absolute;

  font-size: 1.3vw;
}
#maxHPText {
  margin-left: 17vw;
  margin-top: 3.7vw;
}
#currentHPText {
  margin-left: 4.6vw;
  margin-top: 1.2vw;
}
#tempHPText {
  margin-left: 29vw;
  margin-top: 1.2vw;
}
#diceHPText {
  margin-left: 28.9vw;
  margin-top: 12.7vw;
  font-size: 1vw;
}

#maxHP,
#currHP,
#tempHP,
#diceHP,
#diceHPAmount {
  font-family: Cattedrale;
  position: absolute;
  text-align: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 3vw;

  width: 5.2vw;
}
#maxHP::-webkit-outer-spin-button,
#maxHP::-webkit-inner-spin-button,
#currHP::-webkit-outer-spin-button,
#currHP::-webkit-inner-spin-button,
#tempHP::-webkit-outer-spin-button,
#tempHP::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
#maxHP[type="number"],
#currHP[type="number"],
#tempHP[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
#maxHP {
  margin-left: 17vw;
  margin-top: 5.5vw;
}
#currHP {
  margin-left: 5vw;
  margin-top: 4vw;
}
#tempHP {
  margin-left: 29vw;
  margin-top: 3.7vw;
}
#diceHP {
  margin-left: 26.5vw;
  margin-top: 9vw;
  font-size: 2vw;
}
#diceHPAmount {
  margin-left: 32vw;
  margin-top: 9vw;
  font-size: 2vw;
}

#deathThrowsText {
  font-size: 0.7vw;
  width: 4.5vw;
  margin-left: 17.9vw;
  margin-top: 19.3vw;
}
#deathThrowsSuccess {
  font-size: 1vw;
  width: 4.5vw;
  margin-left: 7.7vw;
  margin-top: 19.9vw;
}
#deathThrowsFailure {
  font-size: 1vw;
  width: 4.5vw;
  margin-left: 27.8vw;
  margin-top: 19.9vw;
}

#DTCheckboxDiv input {
  display: none;
}
#DTCheckboxDiv label {
  aspect-ratio: 1/1;
  width: 2.5vw;
  display: inline-block;
  content: "";
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  outline: none;
  border: 0;
}
#HPDeathDiv input:checked + label[class="DTFlabel"] {
  background-image: url("./images/crystalRed.png");
}
#HPDeathDiv input:checked + label[class="DTSlabel"] {
  background-image: url("./images/crystalPurple.png");
}

#DTCheckboxDiv {
  position: absolute;
  margin-top: 22.75vw;
  display: flex;
  flex-direction: row;
  width: 32vw;
  margin-left: 4.1vw;
  justify-content: space-between;
}

#DTSuccessDiv {
  width: 11.95vw;
  display: flex;
  justify-content: space-between;
}
#DTFailureDiv {
  width: 11.95vw;
  display: flex;
  justify-content: space-between;
}

#resistancesDiv {
  position: absolute;
  width: 20.7vw;
  height: 4vw;
  margin-top: 9.8vw;
  margin-left: 4.7vw;
}
#resistancesDiv > span {
  position: absolute;
  font-size: 0.8vw;
  font-weight: bold;
  height: 1vw;
}
#addResistances {
  position: absolute;
  background-image: url("./images/addResistanceFrame.png");
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.5vw;
  height: 2.1vw;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-left: 19vw;
}
#resistanceItem {
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.5vw;
  height: 2.1vw;
  border: 0;
  outline: 0;
}
#resListWithButon {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 1vw;
  width: 20.7vw;
  height: 2vw;
}

#resistancesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
	width: 20.7vw;
	height: 2vw; */
}
#resistancesList > li {
  margin-right: 0vw;
  width: 1.7vw;
  height: 2.7vw;
}
