@font-face {
  font-family: "Cattedrale";
  src: url("./fonts/Cattedrale.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;

  --radius: 18vw;
  --originDegree: -60deg;
  --deltaDegree: -30deg;

  background-image: url("./images/pergament.jpg");
  background-size: 250%;

  font-family: cursive;
}

#generalInfo {
  display: flex;
  align-items: center;
}

#CharacteristicsAndImage {
  aspect-ratio: 1/1;
  width: 45vw;
  justify-self: right;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -7vw;
}
#portrait {
  aspect-ratio: 1/1;
  width: 35vw;
  background: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 3rem black);
  justify-self: flex-end;
  align-items: center;
  position: absolute;
  border-radius: 50%;
}

#center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#strength,
#dexterity,
#constitution,
#intelligence,
#wisdom,
#charisma,
#ACShield,
#initiative,
#speed,
#profBonus {
  aspect-ratio: 1/1;
  position: absolute;
  width: 8vw;
}

#strength {
  transform: rotate(var(--originDegree)) translate(var(--radius))
    rotate(calc(var(--originDegree) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#dexterity {
  transform: rotate(calc(var(--originDegree) + var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}

#constitution {
  transform: rotate(calc(var(--originDegree) + 2 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 2 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#intelligence {
  transform: rotate(calc(var(--originDegree) + 3 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 3 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#wisdom {
  transform: rotate(calc(var(--originDegree) + 4 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 4 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}
#charisma {
  transform: rotate(calc(var(--originDegree) + 5 * var(--deltaDegree)))
    translate(var(--radius))
    rotate(calc((var(--originDegree) + 5 * var(--deltaDegree)) * -1));
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/characteristicFrame.png");
}

#strength span,
#dexterity span,
#constitution span,
#intelligence span,
#wisdom span,
#charisma span {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #b37f18 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 78%;
  font-size: 0.8vw;

  position: absolute;
  left: 0;
  right: 0;
}
#constitution span {
  transform: scaleX(0.75);
}

#ACShield {
  transform: rotate(90deg) translate(var(--radius)) rotate(-90deg);
  width: 12vw;
  background: no-repeat;
  background-size: contain;
  background-image: url("./images/shieldAC.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

#AC {
  position: absolute;
  font-size: 4vw;
  text-align: center;

  aspect-ratio: 1/1;
  width: 5vw;

  font-family: Cattedrale;
}

#initiative {
  transform: rotate(120deg) translate(calc(var(--radius) + 1vw)) rotate(-120deg);
  aspect-ratio: 1/1;
  width: 8vw;
  background: no-repeat;
  background-size: contain;
  /*border: red solid 0.1vw;*/
  border-radius: 0;
  background-color: transparent;
  background-image: url("./images/initiative.png");
}

#speed {
  transform: rotate(60deg) translate(calc(var(--radius) + 1vw)) rotate(-60deg);
  aspect-ratio: 1/1;
  width: 8vw;
  background: no-repeat;
  background-size: contain;
  /*border: blue solid 0.1vw;*/
  border-radius: 0;
  background-color: transparent;
  background-image: url("./images/speed.png");
}
#profBonus {
  transform: rotate(-135deg) translate(calc(var(--radius) + 7vw)) rotate(135deg);
  width: 8vw;
  background: no-repeat;
  background-size: contain;
  border-radius: 0;
  /*border: darkblue solid 0.1vw;*/
  background-color: transparent;
  background-image: url("./images/profBonus.png");
  text-align: center;
  display: flex;
  justify-content: center;
}
#profBonusName {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #b37f18 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 73%;
  font-size: 1vw;
  transform: scaleX(1.5);

  position: absolute;
  left: 0;
  right: 0;
}

#characterName {
  font-size: 2vw;
  font-family: cursive;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  text-align: center;
  /* margin-top: 5vw; */
  /* border: 0; */
  border-width: 1px;
  border-color: yellow;
	background-color: rgba(155, 137, 44, 0.526);
  /*border-image: url("./images/nameFrame.png") 30 fill;*/
  /* background-image: url("./images/nameFrame.png");
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat; */
}

#characterClass {
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 6vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  color: transparent;
  border: 0;
}
#characterClass option {
  color: black;
  font-size: 1vw;
  font-family: cursive;
  font-weight: bold;
}

#characterRace {
  font-size: 1.7vw;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: none;
  font-family: cursive;
}
#characterRace option {
  background-color: transparent;
}

#savingThrowBackground {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  outline: none;
  border: 0;
  background-image: url("./images/scroll.png");

  aspect-ratio: 9/2;
  width: 26vw;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}

#STstrVal,
#STdexVal,
#STconVal,
#STintVal,
#STwisVal,
#STchaVal {
  margin-top: 0.4vw;
  font-size: 1vw;
  font-weight: bold;
  font-family: Cattedrale;
}

#STchaCB,
#STstrCB,
#STdexCB,
#STconCB,
#STintCB,
#STwisCB {
  display: none;
}
#STstrCB + label,
#STdexCB + label,
#STconCB + label,
#STintCB + label,
#STwisCB + label,
#STchaCB + label {
  aspect-ratio: 1/1;
  width: 1vw;
  margin-left: 1vw;

  display: inline-block;
  content: "";
  /*background: red;*/
  background-image: url("./images/roundFrame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  outline: none;
  border: 0;
}
#STchaCB:checked + label,
#STstrCB:checked + label,
#STdexCB:checked + label,
#STconCB:checked + label,
#STintCB:checked + label,
#STwisCB:checked + label {
  background-image: url("./images/selectedRoundFrame.png");
}

.ST {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-color: transparent;
  outline: none;
  /* color: transparent; */
  border: 0;
  background-image: url("./images/STFrame.png");

  aspect-ratio: 2/3;
  width: 3vw;
}

.STName {
  cursor: default;
  font-size: 1vw;
  font-weight: bold;
}

#savingThrows {
  aspect-ratio: 9/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22vw;
}
