@font-face {
  font-family: "Cattedrale";
  src: url("../../fonts/Cattedrale.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#mainSpellsDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: 49vw;
}

#spellsCenter {
  width: 97%;
  height: 97%;

  padding: 0 1vw 0 1vw;

  background-image: url("../../images/pergament.jpg");
  background-size: 100% 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#leftSpells,
#centerSpells,
#rightSpells {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: 100% 100%;

  width: 32%;
  height: 97%;
}

#leftSpells {
  background-image: url("../../images/threeLevelsFrame.png");
}

#centerSpells {
  background-image: url("../../images/threeLevelsFrameCenter.png");
}

#rightSpells {
  background-image: url("../../images/fourLevelsFrame.png");
}

.spellLevel {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #b37f18 78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2vw;
  font-family: Cattedrale;
  position: absolute;
}
#sl0,
#sl1,
#sl2 {
  margin-left: 2.5%;
}
#sl1 {
  margin-left: 3%;
}
#sl3,
#sl4,
#sl5 {
  margin-left: 2.5%;
}
#sl6,
#sl7,
#sl8,
#sl9 {
  margin-left: 2.5%;
}

#sl0,
#sl3 {
  margin-top: 1.4%;
}
#sl6 {
  margin-top: 1.2%;
}
#sl1,
#sl4,
#sl7,
#SQT1 {
  margin-top: 33.8%;
}
#sl2,
#sl5,
#SQT2 {
  margin-top: 67.2%;
}
#sl8 {
  margin-top: 60.3%;
}
#sl9 {
  margin-top: 84.2%;
}

#spellsLevel0,
#spellsLevel1,
#spellsLevel2,
#spellsLevel3,
#spellsLevel4,
#spellsLevel5,
#spellsLevel6,
#spellsLevel7,
#spellsLevel8,
#spellsLevel9,
#SQT1,
#SQT2,
#SQT3,
#SQT4,
#SQT5,
#SQT6,
#SQT7,
#SQT8,
#SQT9 {
  position: absolute;
  margin-left: 2%;
  height: 24%;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(165, 148, 0) transparent;
}

.spellsQuantityTrackingDiv {
  width: 2.1vw;
  font-size: 1vw;
  margin: 0;
  padding: 0;
	padding-top: 0.2%;
  overflow: hidden;
}
.spellsQuantityTrackingDiv input {
  margin: 0;
	margin-left: 5%;
  padding: 0;
  background-color: transparent;
  color: yellow;
	border: 0;
  width: 80%;
	text-align: center;
}
.spellsQuantityTrackingDiv input::-webkit-outer-spin-button,
.spellsQuantityTrackingDiv input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.spellsQuantityTrackingDiv input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#SQT1,
#SQT2 {
  margin-left: 6.5%;
}

#spellsLevel0,
#spellsLevel3,
#spellsLevel6 {
  margin-top: 7%;
}
#spellsLevel1,
#spellsLevel4,
#spellsLevel7 {
  margin-top: 39.8%;
}
#spellsLevel2,
#spellsLevel5 {
  margin-top: 72.8%;
}
#spellsLevel7 {
  height: 14%;
}

#spellsLevel8 {
  height: 16%;
  margin-top: 65.7%;
}

#spellsLevel9 {
  height: 10%;
  margin-top: 89.3%;
}

.spellsLevelDivs {
  width: 26.7%;
}

.obtainedSpell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addObtainedSpellButton {
  width: 100%;
  padding: 0;
  font-weight: bold;

  font-size: 0.8vw;
  height: 1vw;

  background-image: url(../../images/pergament.jpg);
  background-size: 300% 300%;
  filter: hue-rotate(0deg) saturate(1.7) brightness(1);
}
.spellsLevelDivs button > * {
  margin: 0;
}

.spellsLevelDivs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.spellsLevelDivs li > div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.2vw;
}
.linkSpellButton {
  width: 1vw;
  height: 1.1vw;
  border: 0;
  background-color: transparent;
  background-image: url(../../images/book.png);
  background-size: 100% 100%;
}
.removeSpellButton {
  width: 0.7vw;
  height: 1.1vw;
  cursor: pointer;
  border: 0;
  text-align: center;
  background-color: rgb(228, 0, 0);
  font-size: 0.8vw;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.addCustomSpellButton {
  width: 1vw;
  height: 1.1vw;
  border: 0;
  background-color: transparent;
  background-image: url(../../images/bookPlus.png);
  background-size: 100% 100%;
}

.spellsLevelDivs input {
  width: 85%;
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  border: 0;
  border-bottom: 1px solid black;
  color: black;
  background-color: transparent;
}

#spellsOfCurrentLevelDiv {
  position: absolute;
  display: none;
  width: 40vw;
  height: 30vw;
  background-image: url(../../images/pergament.jpg);
  background-size: 100% 100%;
}
#spellsOfCurrentLevelUl {
  height: 85%;
  margin: 0;

  list-style-type: none;
  columns: 2;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(211, 190, 0) transparent;
}
#spellsOfCurrentLevelCloseButton {
  font-size: 1.5vw;
  position: relative;
  background-color: transparent;
  border: 0;
  left: 95.5%;
  margin: 0;
  padding: 0;
}
